* {
  margin:0;
  padding:0;
}

#banner {
  background-image: url("../img/bg-header.jpg");
  height: 100vh;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

#nav {
  float:right;
}

#nav ul {
  float:right;
  margin-top: 8px;
}

#nav li {
  display:inline-block;
}

#nav a {
  color:white;
  padding-right: 10px;
}


#hero h1 p {
  position: absolute;
  top:50%;
  left:50%;
}

#hero h1 {
  position:absolute;
  color:black;
  text-align:center;
}


.content {
  padding: 20em 0 6rem 0;
  text-align: center;
}

.title {
  margin:0;
}
